*, html {
    scroll-behavior: smooth !important;
    transition: transform 0.5s ease-in-out;
}
@font-face {
    font-family: "Beyno";
    src: url("../font/BEYNO.ttf");
}
@font-face {
    font-family: "Panthera";
    src: url("../font/Panthera.ttf");
}
@font-face {
    font-family: "Canterell";
    src: url("../font/Cantarell.ttf");
}

@font-face {
    font-family: "WakandaForever";
    src: url("../font/WakandaForever.ttf");
}
body {
    background: radial-gradient(126.67% 350.28% at -21.35% 0%,
    #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%,
    rgba(2, 23, 64, 0) 200%) no-repeat;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    color: #ffffff;
    position: sticky;
    box-sizing: border-box;
    font-family: Cantarell;
    font-size: clamp(10px, 2vw,16px);
    overflow-x: hidden;
}
h1 {
    font-family: Panthera;
    font-size: clamp(20px, 5vw,68px);
    font-weight: initial;
    margin: 0;
}
h2 {
    font-family: Beyno;
    font-size: clamp(10px, 3vw,32px);
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/**navbar*/
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: min(2vw,20px) 0 min(2vw,20px) 0;
    background: linear-gradient(to right,
    #11213F 0%, #0b0b0bf5 39%, rgba(2, 23, 64, 0.918) 94.57%,
    rgba(2, 23, 64, 0.637) 200%) no-repeat;
    position: sticky;
    z-index: 2;
    top: 0;
}
.navbar-left {
    margin-left: min(9vw,60px);
    flex-grow: 1;
}
.navbar-left__image:nth-child(1) {
    width: min(4vw,30px);
    min-width: 15px;
}
.navbar-left__image:nth-child(2) {
    width: min(1vw,20px);
    min-width: 8px;
}
.navbar-left__image:nth-child(3) {
    width: min(7vw,80px);
    min-width: 40px;
}
.navbar-right {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.navbar-right__item:hover {
    text-decoration: underline;
    color: #ffffff;
}
.navbar-active {
    text-decoration: underline;
    color: #9E91B7;
}
/**navbar*/
/**footer*/
.footer-container {
    background: url("../logo/All\ pages/back_footer.png") center no-repeat;
    height: min(100vw,500px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: min(10vw,100px) min(10vw,100px) min(10vw,100px) min(10vw,100px);
}
.footer-left,
.footer-pages,
.footer-socialmedia,
.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footer-left {
    flex-direction: row;
    grid-column: 2/3;
    grid-row: 2/6;
    background: url("../logo/All\ pages/footer1.png") center no-repeat;
    background-size: contain;
}
.footer-pages {
    grid-column: 3/4;
    grid-row: 2/4;
}
.footer-pages__item {
    display: flex;
    flex-direction: column;
}
.footer-socialmedia {
    grid-column: 4/7;
    grid-row: 2/4;
}
.footer-copyright {
    grid-column: 3/6;
    grid-row: 4/6;
}
.footer-left__image:nth-child(1) {
    width: min(4vw,30px);
    min-width: 15px;
}
.footer-left__image:nth-child(2) {
    width: min(1vw,20px);
    min-width: 8px;
}
.footer-left__image:nth-child(3) {
    width: min(7vw,80px);
    min-width: 40px;
}
.footer-socialmedia__image {
    width: min(4vw,44px);
    min-width: 25px
}
@media (max-width: 395px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
    }
    .footer-pages__item {
        flex-direction: row;
        width: 50vw;
        justify-content: space-around;
    }
}
/**footer*/