
@font-face {
    font-family: "Beyno";
    src: url("../font/BEYNO.ttf");
}
@font-face {
    font-family: "Panthera";
    src: url("../font/Panthera.ttf");
}
@font-face {
    font-family: "Canterell";
    src: url("../font/Cantarell.ttf");
}
body {
    background: radial-gradient(126.67% 350.28% at -21.35% 0%,
    #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%,
    rgba(2, 23, 64, 0) 200%) no-repeat;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    color: #ffffff;
    position: relative;
    box-sizing: border-box;
    font-family: Cantarell;
    font-size: clamp(10px, 2vw,16px);
    overflow-x: hidden;
}
h1 {
    font-family: Panthera;
    font-size: clamp(20px, 5vw,68px);
    font-weight: initial;
    margin: 0;
}
h2 {
    font-family: Beyno;
    font-size: clamp(10px, 3vw,32px);
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/**navbar*/
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0 20px 0;
}
.navbar-left {
    margin-left: min(9vw,60px);
    flex-grow: 1;
}
.navbar-left__image:nth-child(1) {
    width: min(4vw,30px);
    min-width: 15px;
}
.navbar-left__image:nth-child(2) {
    width: min(1vw,20px);
    min-width: 8px;
}
.navbar-left__image:nth-child(3) {
    width: min(7vw,80px);
    min-width: 40px;
}
.navbar-right {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.navbar-right__item:hover {
    text-decoration: underline;
    color: #ffffff;
}
.navbar-active {
    text-decoration: underline;
    color: #9E91B7;
}
/**navbar*/
/**side header*/
.side-left {
    writing-mode: vertical-lr;
    position: fixed;
    top: 0;
    margin: min(20vh,100px) 0 0 min(1vw,20px);
}
.side-left__image {
    width: min(2vw,22px);
    min-width: 15px
}
.side-left__image:hover {
    filter:  brightness(0) invert(1);
    cursor: pointer;
}
.side-left::before {
    content: "";
    position: absolute;
    left: 47%;
    bottom: 110%;
    border: 1px solid #9E91B7;
    height: 150px;
}
.side-left::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -30%;
    border: 1px solid #9E91B7;
    height: 220px;
}
/**side header*/
/**header*/
.header-container {
    height: min(30vw,450px);
    min-height: 220px;
    background: url("../logo/Accueil/Pantherhome1..png") top right no-repeat;
    background-size: contain;
    padding-top: min(8vw,170px);
    padding-left: min(10vw,100px);
}
.header-description {
    width: min(80vw,530px);
}
.more__button {
    background: none;
    outline: none;
    border: none;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
/**header*/
/**slider*/
.slider-container {
    height: 290px;
    position: relative;
    background: #021740;
    margin-left: min(9vw,60px);
    display: flex;
    margin-bottom: 5%;
}
.slider-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slider-item:hover > .slider-item__image{
    transform: scale(1.1);
    transition: transform 1s ease;
}
.slider-item__image {
    width: min(15vw,200px);
    min-width: 80px;
    height: min(22vw,290px);
    min-height: 100px;
    margin: 0 20px 0 40px;
    transition: transform 1s ease;
}
.slider-item__description {
   width: 310px;
   margin: 0;
}
.slider-item__button {
    border-radius:50%;
    width: min(3vw,35px);
    height: min(3vw,35px);
    min-height: 20px;
    min-width: 20px;
    background: #010e27;
    color: #ffffff;
    border: 0;
    position: absolute;
    right: 1%;
    top: 40%;
    cursor: pointer;
}
@media (max-width: 500px) {
    .slider-container {
        height: 350px;
    }
    .slider-item {
        flex-direction: column;
        justify-content: space-around;
    }
    .slider-item__description {
        margin: 0 20px 0 40px;
    }
    .slider-item__description {
        width: 70vw;
    }
}
/**slider*/
/**hero*/
.hero-avenger-container,
.hero-protector-container {
    margin-top: 100px;
    display: flex;
    margin-left: min(9vw,90px);
    justify-content: space-between;
}
.hero-protector-container {
    margin-top: 0;
}
.hero-presention {
    max-width: 850px;
    padding-right: 20px;
}
.hero-presentation__title {
    margin-top: 40px;
}
.hero-actor__presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: #ffffff;
    color: #0B0B0B;
    border-radius: 20px;
    width: min(30vw,450px);
    height: min(90vw,820px);
    min-height: 750px;
    position: relative;
}
.hero-actor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-actor__image {
    width: min(30vw,350px);
}
.hero-actor__image,
.hero-actor__name,
.hero-actor__details,
.hero-actor__label {
    transform: translateY(-10%);
}
.hero-actor__label {
    margin-bottom: 20px;
}
.hero-label__item {
    background: #3D2DA6;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    outline: none;
    border: 0;
    border-radius: 5px;
}
.hero-actor__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    width: min(20vw,400px);
    height: 250px;
}
@media (max-width: 1130px) {
    .hero-actor__label {
        align-self: stretch;
        padding: 0 10px 0 10px;
        display: flex;
        flex-direction: column;
    }
    .hero-label__item  {
        margin-bottom: 5px;
    }
}
@media (max-width: 500px) {
    .hero-avenger-container,
    .hero-protector-container {
        flex-direction: column;
    }
    .hero-actor__presentation {
        margin-top: 50px;
        width: min(70vw,450px);
        height: min(130vw,500px);
        min-height: 400px;
    }
    .hero-actor__details {
        width: min(60vw,400px);
    }
    .hero-avenger-container {
        margin-top: 0;
    }
    .hero-actor {
        flex-direction: row;
    }
}
/**hero*/