/**header*/
.header-container {
    height: min(35vw,600px);
    min-height: 180px;
    background: url("../logo/Wakanda/Pantherwakanda1.png") center no-repeat;
    background-size: cover;
    padding-top: min(8vw,170px);
    padding-left: min(10vw,100px);
}
.header-subtitle {
    font-family: WakandaForever;
}
.header-illustration {
    width: min(100%,500px);
}
/**header*/
/**history*/
.history-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 100px min(10vw,100px) 0 min(10vw,100px);
}
.history-background {
    position: absolute;
    top: -5%;
    z-index: -1;
    width: min(90vw,1500px);
}
.history-description {
    width: min(42vw,700px);
    margin-left: 5px;
}
@media (max-width: 500px) {
    .history-background {
        top: 5%;
    }
    .history-container {
        flex-direction: column;
    }
    .history-description {
        width: 100%;
    }
}

/**history*/
/**military*/
.military-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 min(10vw,100px) 0 min(10vw,100px);
}
.military-video,
.military-description {
    width: min(42vw,700px);
    margin-top: 20px;
    margin-left: 5px;
}
@media (max-width: 500px) {
    .military-container {
        flex-direction: column;
    }
    .military-video,
    .military-description {
        width: 100%;
    }
}
/**military*/
/**cinema*/
.cinema-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 min(10vw,100px) 0 min(10vw,100px);
    margin-top: 20px;
}
.cinema-left 
.cinema-right,
.cinema-right__image {
    width: min(42vw,700px);
}
.cinema-right {
    margin-left: 5px;
}
@media (max-width: 500px) {
    .cinema-container {
        flex-direction: column;
    }
    .cinema-left 
    .cinema-right,
    .cinema-right__image {
        width: 100%;
    }
}
/**cinema*/